:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  font-family: var(--inter), sans-serif;
  outline: none !important;

  --gray-1: #f1f2f6;
  --primary-blue: #3742fa;
  --blue-10: #ededff;
  --blue-30: #ddddff;
  --blue-2: #70a1ff;
  --green-1: #7bed9f;
  --yellow-1: #eccc68;
  --orange-1: #ff7f50;
  --red-1: #ff6b81;
}

body {
  padding: 0;
  margin: 0;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

main {
  animation: 0.2s fadeIn linear;
}

.not-found {
  padding: 1.5rem;
  height: calc(100vh - 84px);
  height: calc(100svh - 84px);
  text-align: center;
}

.not-found h1 {
  font-size: 3rem;
}

.not-found {
  font-size: 1.2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
