.show-m-container {
  text-align: center;
  padding: 0.5rem;

  a {
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    color: black;
    font-weight: 500;
    background-color: var(--gray-1);
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--blue-10);
    }
  }
}
