.app-header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 50;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .links {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .gh-link,
      .cv-link {
        display: inline-block;
        cursor: pointer;
        transition: background-color 0.1s ease-in;
        text-decoration: none;
      }

      .gh-link {
        padding: 8px;
        font-size: 1.25rem;
        height: 2.25rem;
        width: 2.25rem;
        color: black;
        background-color: #fff;
        border-radius: 50%;
        &:hover {
          background-color: var(--blue-10);
        }
      }

      .cv-link {
        color: black;
        font-weight: 500;
        padding: 0.5rem 0.75rem;
        border-radius: 0.625rem;
        background-color: var(--gray-1);

        &:hover {
          background-color: var(--blue-10);
        }
      }
    }
  }
}
